<h1 align="center"> Article list </h1>

<% if @articles.size == 0 %>
  <p>There are no articles</p>

<% else %>
<div align="center">
  <%= will_paginate %>
</div>
<%= render "article", obj: @articles %>
<% end %>