<style>
  #banner {
    height:30%;
    width:800px;
    background-color: red;
    border: 2px solid black;
  }

  .panel{
    width:400px;
    height:500px;
    float: left;
    border: 1px solid black;
  }
  #links_box{
    list-style-type:none;
  }
  #links_box li{
    margin: 5px;
  }

</style>

<div id = "banner">
  <h1> Homepage of Alpha Blog</h1>
    <ul id="links_box">
      <li>
        <%=link_to "About", about_path %>
      </li>
  </ul>
</div>
<div class = "panel">
  some words go here
</div>
<div class = "panel">
  some other words go here
</div>


</div>